.products {
  margin-bottom: 8rem;
}

/* display banner */
.product-display-background {
  position: relative;
  height: 310px;
  background-color: rgba(0, 0, 0, 0.5);
}

.product-display-background::before {
  background-image: url("../images/about/product-banner.jpg");
  background-size: cover;
  background-position: center;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.display-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.display-banner-text {
  font-size: 10rem;
  color: white;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 5px #e46c6c, 5px 5px 5px #2e2e2e;
  font-weight: 700;
}
/* end of display banner */

/* category selection */
.category-select-title-container {
  display: flex;
  margin-left: 4rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.category-select-title {
  font-size: 3rem;
  padding: 1rem;
}

.category-select {
  font-size: 3rem;
  margin-left: 4rem;
  border-radius: 100vmax;
  background-color: #f6f2f1;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  /* stop the user selecting the text within the category-select buttons */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.category-select:hover {
  background-color: #e9d1d2;
}

.selected {
  background-color: #e9d1d2;
  border: 2px solid #e46c6c;
}
/* end of category selection */

/* sorting options */
.sorting-options-container {
  margin-bottom: 2rem;
  width: 100%;
}

/*
.sorting-options {
  display: block;
  margin-left: auto;
  margin-right: 6rem;
  font-size: 1.8rem;
  font-family: inherit;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  background-color: #e9d1d2;
  outline: none;
  border: 2px solid #e46c6c;
  border-radius: 100vmax;
  cursor: pointer;
  min-width: 180px;
}

.sorting-options option {
  font-family: Saphira;
  display: none;
} */

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

}

.sorting-options-container {
  margin-left: auto;
  margin-right: 6rem;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: #e9d1d2;
  outline: none;
  border: 2px solid #e46c6c;
  border-radius: 100vmax;
  cursor: pointer;
  min-width: 190px;
  width: 190px;
  display: flex;
  align-items: center;
}

.sorting-options-container::after {
  display: block;
  position: relative;
  content: "";
  width: 1.5rem;
  height: 1rem;
  margin-right: 10px;
  margin-left: auto;
  right: 10px;
  background-color: #6f242a;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  pointer-events: none;
}

.sorting-options {
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  padding: 1rem;
  outline: none;
  border: none;
}

.sorting-options * {
  font-family: Saphira, Arial, Helvetica, sans-serif;
  background-color: #e9d1d2;
  color: #6f242a;
}
/* end of sorting options */
