@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

@import "./about.css";

@font-face {
  font-family: modernline;
  src: url("../fonts/modernline.otf");
}

@font-face {
  font-family: oceanroad;
  src: url("../fonts/Ocean\ Road.ttf");
}

@font-face {
  font-family: Saphira;
  src: url("../fonts/Saphira.otf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62%;
}

body {
  font-family: Saphira;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #6f242a;
  position: relative;
  z-index: 1;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/* Header */
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #e9d1d2;
  overflow: hidden;
  height: 70px;
}

.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 145rem;
  margin: 0 auto;
}

body.show::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

.navbar.show {
  background-color: rgba(0, 0, 0, 0.5);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: modernline;
  font-size: 2.8rem;
  margin-left: 4rem;
  min-width: 260px;
}

.menu-item {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: ease 0.3s;
  -moz-transition: ease 0.3s;
	-ms-transition: ease 0.3s;
	-o-transition: ease 0.3s;
	transition: ease 0.3s;
  font-size: 1.9rem;
  padding: 0 1rem;
}

.menu-item:not(.menu-item-last):hover {
  transform: scale(1.2);
  transition: ease 0.3s;
  -moz-transition: ease 0.3s;
	-ms-transition: ease 0.3s;
	-o-transition: ease 0.3s;
	transition: ease 0.3s;
}

.menu-item-last:hover {
  animation-name: basketHover;
  animation-duration: 0.5s;
}

/* has the basket scale up and back down so the basket items aren't blocked */
@keyframes basketHover {
  0% {   transform: scale(1);  }
  25% {   transform: scale(1.05);  }
  50% {   transform: scale(1.1);  }
  75% {   transform: scale(1.05);  }
  100% {   transform: scale(1);  }
}

.num-basket-items-container:hover + .menu-item-last {
  animation-name: basketHover;
  animation-duration: 0.5s;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu-item {
  margin-right: 0.5rem;
}

.shopping-basket-icon {
  font-size: 3rem;
}

.num-basket-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f09494;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: -47px;
  margin-bottom: 8px;
  padding-top: 2px;
  width: 21px;
  height: 17px;
  z-index: 10;
  cursor: pointer;
}

.num-basket-items {
  font-family: Saphira;
  font-size: 1.4rem;
}

.mobile-navbar, .hamburger-menu, .mobile-basket-icon {
  display: none;
}

.menu.show {
  left: 0;
}

.header-position {
  height: 70px;
  width: 100%;
}
/* end of header */

/* Sale banner */
.sale-banner {
  padding-left: 80px;
  padding-top: 50px;
}

.sale-banner-background {
  position: relative;
  height: 61rem;
  max-height: 570px;
}

.sale-banner-background::before {
  background-image: url("../images/homepage/sale-banner.jpg");
  background-size: cover;
  background-position: right;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sale-main {
  color: #722011;
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 5px #f09494, 5px 5px 5px #f5cccc;
}

.sale-small {
  font-size: 2rem;
  font-weight: 700;
}

.sale-large {
  color: #20060b;
  font-size: 5.5rem;
  font-weight: 700;
  text-shadow: 1px 1px 0 #f1c7c7, 2px 2px 0 #6e9ba8;
}

.btn {
  display: inline-block;
  background-color: #e9d1d2;
  border: 3px solid #423b39;
  padding: 1.2rem 4rem;
  width: 200px;
  text-align: center;
  font-weight: 600;
  font-size: 2.2rem;
}

.shop-now-btn {
  margin-top: 3rem;
  margin-left: 120px;
  transition: ease 0.5s;
  -moz-transition: ease 0.5s;
	-ms-transition: ease 0.5s;
	-o-transition: ease 0.5s;
	transition: ease 0.5s;
}
/* end of sale banner */

/* category selection - cakes or cupcakes */
#shop-now-section {
  display: block;
  position: relative;
  /* top of -70px offsets the 70px header with position: fixed */
  top: -70px;
  visibility: hidden;
}

.section-title {
  text-align: center;
  padding-top: 40px;
  font-size: 4rem;
}

.category-selection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  margin-top: 60px;
  margin-bottom: 180px;
}

.category {
  max-width: 320px;
  margin-top: 50px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  display: block;
  backface-visibility: hidden;
}

.cakes:hover .category-cakes,
.cupcakes:hover .category-cupcakes,
.shop-now-btn:hover, .order-now-btn:hover {
  opacity: 0.85;
  transition: ease 0.5s;
  -moz-transition: ease 0.5s;
	-ms-transition: ease 0.5s;
	-o-transition: ease 0.5s;
	transition: ease 0.5s;
  letter-spacing: 1px;
  border-color: #423b3985;
  cursor: pointer;
}

.category-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-text {
  font-family: Saphira;
  text-align: center;
  font-size: 2.5rem;
  height: 50px;
  color: #423b39;
  background-color: #e9d1d2;
  border: 3px solid #423b39bd;
  position: relative;
  margin-top: -100%;
  transition: ease 0.5s;
  -moz-transition: ease 0.5s;
	-ms-transition: ease 0.5s;
	-o-transition: ease 0.5s;
	transition: ease 0.5s;  width: 240px;
  padding-left: 0;
  padding-right: 0;
}
/* end of category selection */

/* featured Products, plus some product styling from products.html */
.featured {
  margin-top: 100px;
}

.featured-title {
  text-align: center;
  margin-bottom: 50px;
}

.featured-title h1 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.featured-title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: #e9d1d2;
  width: 270px;
  height: 0.4rem;
  z-index: 1;
}

.align-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 7rem 3rem;
  padding: 0 20px;
  justify-items: center;
  justify-content: center;
}

.product {
  text-align: center;
  border-radius: 10px;
  height: 450px;
  background-color: #fff;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.product-image {
  position: relative;
  max-height: 350px;
  max-width: 350px;
  background-color: #f6f2f1;
  transition: all 300ms ease-in-out;
}

.product-image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-information {
  padding-top: 2rem;
}

.product-title {
  font-size: 2.4rem;
  padding: 0 6px 10px 6px;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-from {
  font-size: 1.2rem;
  margin-right: 5px;
}

.price-amount {
  color: #6f242a;
  font-size: 1.8rem;
}

.product:hover {
  box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.45);
  transition: ease-in-out 0.3s;
  background-color: #e9d1d2d0;
}

.product-more-options-container {
  display: flex;
  justify-content: center;
}

.product-more-options {
  position: absolute;
  opacity: 0;
  top: 270px;
  width: 90%;
  z-index: 5;
  font-size: 1.9rem;
  background-color: rgb(248, 248, 248);
  border: 2px solid #e46c6c;
  padding: 1.6rem;
  border-radius: 100vmax;
  -moz-transition: ease 0.5s;
	-ms-transition: ease 0.5s;
	-o-transition: ease 0.5s;
	transition: ease 0.5s;
}

.product:hover .product-more-options {
  opacity: 1;
  transition: ease 0.5s;
  -moz-transition: ease 0.5s;
	-ms-transition: ease 0.5s;
	-o-transition: ease 0.5s;
	transition: ease 0.5s;
}
/* end of featured products */

/* widget */
.widget * {
  color: rgb(26, 24, 24);
  font-weight: 500;
}

.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.widget-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.5rem;
}

.widget-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.widget-icon {
  font-size: 5rem;
}

.widget-heading {
  font-size: 3rem;
  margin: 0.5rem;
  text-align: center;
}

.widget-description {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  text-align: center;
}

.delivery {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 4rem;
  height: 150px;
}

.order-now-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
  margin-top: -8rem;
}

.order-now-btn {
  width: 300px;
  transition: ease 0.5s;
  -moz-transition: ease 0.5s;
	-ms-transition: ease 0.5s;
	-o-transition: ease 0.5s;
	transition: ease 0.5s;
  color: black;
  font-size: 4rem;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2rem 0;
}

/* end of widget */

/* footer */
.footer-container {
  background-color: rgb(26, 24, 24);
  padding-top: 5rem;
  padding-bottom: 5rem;
  line-height: 3rem;
  position: relative;
  z-index: 3;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.footer-column a:link,
.footer-column a:visited {
  font-family: 'Raleway', sans-serif;
  display: block;
  color: #fff;
  font-size: 1.25rem;
  transition: 0.4s;
  width: 120px;
}

.footer-column a:hover {
  color: #fd6b9c;
}
/* end of footer */

.hide {
  display: none;
}

/* media queries */
@media only screen and (max-width: 1000px) {
  .widget-container {
    column-gap: 2.5rem;
  }

  .widget-icon {
    font-size: 5rem;
  }

  .widget-heading {
    font-size: 2.6rem;
    margin: 0.5rem;
  }

  .widget-description {
    font-size: 1.7rem;
    letter-spacing: 0.5px;
  }

  .delivery {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 890px) {
  .widget-container {
    column-gap: 2.5rem;
  }

  .widget-icon {
    font-size: 4.5rem;
  }

  .widget-heading {
    font-size: 2.3rem;
    margin: 0.5rem;
  }

  .widget-description {
    font-size: 1.7rem;
    letter-spacing: 0.5px;
  }

  .delivery {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 744px) {
  .widget-container {
    column-gap: 1.5rem;
  }

  .delivery {
    height: 130px;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 680px) {
  .num-basket-items-container {
    display: none;
  }

  /* side menu that opens on hamburger click */
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    max-width: 37rem;
    height: 100%;
    background-color: #f6f2f1;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }

  .navbar.fix-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6f242a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 50;
  }

  .mobile-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6f242a;
    padding: 1rem 1.6rem;
    height: 70px;
  }

  .mobile-navbar .header-container {
    color: #fff;
  }

  .mobile-navbar .x-close {
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }

  .mobile-basket-icon {
    display: block;
    font-size: 4rem;
    margin-left: 25%;
  }

  .hamburger-menu {
    display: block;
    font-size: 4rem;
    padding-right: 2.5rem;
    cursor: pointer;
    display: flex;
  }

  .menu-item-link:link,
  .menu-item-link:visited {
    display: block;
    font-size: 2.5rem;
    padding: 1.5rem 0;
  }

  .nav.fix-nav .menu-item-link {
    color: #6f242a;
  }

  .menu-container {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
  }

  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .menu-item-link.icon {
    display: none;
  }
}

@media only screen and (max-width: 672px) {
  .sale-banner {
    padding-top: 70px;
  }

  .sale-banner-background::before {
    background-position: 25% 75%;
  }

  .sale-main {
    font-size: 5.2rem;
  }

  .sale-small-container {
    margin-top: 3rem;
  }

  .sale-small {
    font-size: 2rem;
  }

  .sale-large {
    font-size: 4.5rem;
  }

  .shop-now-btn {
    margin-top: 4rem;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 672px) {
  .category {
    max-width: 280px;
  }

  .category-text {
    width: 220px;
  }
}

@media only screen and (max-width: 660px) {
  .widget-container {
    column-gap: 1.5rem;
  }

  .widget-heading {
    font-size: 2rem;
  }

  .delivery {
    padding: 0;
  }

  .loyalty {
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 610px) {
  .sale-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 0;
  }

  .category {
    max-width: 250px;
  }

  .category-text {
    font-size: 2.1rem;
    width: 200px;
  }

  .mobile-basket-icon {
    margin-left: 15%;
  }

  .loyalty {
    padding: 0;
  }

  .widget {
    height: 370px;
  }

  /* small negative margin right to account for difference in size between the content of the left and right columns */
  .widget-container {
    column-gap: 0.5rem;
    width: 98%;
    margin-right: -2%;
  }
}

@media only screen and (max-width: 585px) {
  .sale-main {
    font-size: 4.6rem;
  }

  .sale-small {
    font-size: 1.9rem;
  }

  .sale-large {
    font-size: 4rem;
  }

  .shop-now-btn {
    margin-left: 0;
  }
}

@media only screen and (max-width: 567px) {
  .footer-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
  }

  .footer-column a:link,
  .footer-column a:visited {
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 532px) {
  .widget-heading {
    font-size: 1.8rem;
  }

  .widget-description {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 515px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    margin-left: -1rem;
    overflow: hidden;
    }
}

@media only screen and (max-width: 532px) {
  .category {
    max-width: 230px;
  }

  .hamburger-menu {
    font-size: 3.5rem;
  }

  .mobile-basket-icon {
    font-size: 3.5rem;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 490px) {
    .widget-container {
    column-gap: 0rem;
  }

  .widget-heading {
    max-width: 100px;
  }

  .delivery {
    height: 160px;
  }

  .widget-description {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 480px) {
  .category-selection {
    flex-direction: column;
  }

  .category {
    margin-top: 20px;
    max-width: 320px;
  }

  .category-selection {
    height: 600px;
    margin-bottom: 120px;
  }

  .category-text {
    font-size: 2.5rem;
    width: 250px;
  }

  .header-title {
    font-size: 2.5rem;
    margin-left: 2rem;
    min-width: 220px;
  }

  .mobile-basket-icon {
    margin-left: 0%;
  }

  .menu {
    width: 80%;
  }
}

@media only screen and (max-width: 420px) {
  .widget-container {
    grid-template-columns: 1fr 110px 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .menu {
    width: 90%;
  }

  .product {
    height: 400px;
  }

  .product-image {
    max-height: 300px;
    max-width: 300px;
  }

  .product-more-options {
    top: 210px;
  }

  .align-products {
    padding: 0;
  }

  .hamburger-menu {
    padding-right: 1.5rem;
  }

  .sale-banner {
    padding-top: 50px;
  }

  .sale-banner-background::before {
    background-position: 30%;
  }

  .sale-main {
    font-size: 4.5rem;
    padding: 0 10px;
    text-align: center;
  }
}

@media only screen and (max-width: 390px) {
  .widget-container {
    grid-template-columns: auto 105px auto;
  }

  .widget {
    height: 320px;
  }

  .widget-container {
    width: 99%;
    margin-right: -1%;
  }
}

@media only screen and (max-width: 360px) {
  .widget-container {
    grid-template-columns: auto 90px auto;
  }

  .product {
    height: 360px;
    height: fit-content;
    max-width: 270px;
    padding-bottom: 10px;
  }

  .product-image {
    max-height: 270px;
  }
  
  .product-image img {
    max-height: 270px;
    max-width: 270px;
  }

  .product-information {
    padding-top: 2.4rem;
  }

  .product-more-options {
    font-size: 1.75rem;
    top: 180px;
  }

  .category {
    max-width: 280px;
  }

  .category-text {
    width: 220px;
  }

  .header-title {
    margin-left: 0.8rem;
  }
}

@media only screen and (max-width: 344px) {
  .sale-large {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 335px) {
  .widget-description {
    font-size: 1.3rem;
  }

  .menu {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .widget-container {
    grid-template-columns: auto auto auto;
  }

  .widget-description {
    max-width: 55px;
  }

  .hamburger-menu {
    padding-right: 0.5rem;
  }

  .header-title {
    font-size: 2.3rem;
    min-width: 210px;
  }
}
